<%= render @friend %>

<div>
  <%= link_to "Edit this Miniature", edit_friend_path(@friend) %> |
  <%= link_to "Back to Miniatures", friends_path %>

  <%= button_to "Destroy this Miniature", @friend, method: :delete %>
</div>
