<h1>About the Strategy Battle Collection App<h1>
	<br>
	<br>
	<p>
		Keep track of your miniature collection in any way you want.
		Sort by faction or release wave and set a collection goal, to get a clear view of where the gaps in your collection are.
	</p>